img.diagram {
    width: 100%;
    border: 1px dashed #999999;
    padding: 1em;
}

.tooltip-inner {
    max-width: 750px;
    text-align: start;
}

button.resource-small {
    font-size: 0.85em;
    width: 205px;
    height: 50px;
    margin: 0 !important;
}