html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

a.navbar-brand {
    width: 100px;
    height: 61px;
    background-image: url(../../public/images/logo-light.png);
    background-size: 100px;
}

@media (prefers-color-scheme: dark) {
    a.navbar-brand {
        background-image: url(../../public/images/logo-dark.png);
    }
}

a img.logo {
    width: 100px;
    height: 61px;
}
